@media only screen and (min-width: 768px) {
  .container-5 {
    width: 75%;
  }

  #photos {
    padding-top: 75px;
  }

  #po-text {
    text-align: left;
  }
  #photo-text {
    text-align: left;
  }
  h3 {
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .container-5 {
    border-radius: 5px;
    background-color: white;
    width: 75%;
  }
  #po-text {
    text-align: center;
  }
  #photo-text {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .container-5 {
    border-radius: 5px;
    background-color: white;
    width: 100%;
  }
  #po-text {
    text-align: center;
  }
  #photo-text {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

form {
  padding-top: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  border: 1px solid #ccc;
  resize: vertical;
  border-radius: 5px;
}

h3 {
  font-size: 30px;
  padding-bottom: 10px;
}

.button-submit {
  width: 8em;
  height: 30px;
  background-color: white;
  border: 1px solid #A8A8A8;
  color:	#686868;
  border-radius: 4px;
}

.button-submit:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-top: 20px;
}

#po-text {
  font-size: 15px;
  padding-top: 5px;
}