/* #home-display {
  background-image: url("placeholder.jpg");
} */

/* MAKE EVERYTHING SO FAR RESPONSIVE AND READ ABOUT RESPONSIZE DESIGN TOMORROW MORNING / NIGHT */

/* design for mobile first to make it load faster
breakpoints:
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}

CAN HIDE ELEMENTS IN CERTAIN SCREENS AND ALSO CHANGE FOR PORTRAIT/LANDSCAPE

*/

/* navbar MAKE RESPONSIVE - actually fixed is okay bc want it to be set!! */
/* change the toggle thing to collapse at tablet size*/

/* Whole navbar */
.navbar {
  padding-top: 25px;
  width: 100%;
}

/* Whole navbar */
.navbar-fluid-width {
  padding-left: 20px;
  padding-right: 30px;
}

/* Collapse bars (hamburger icon) */
.navbar-header .navbar-toggle .icon-bar {
  background-color: black;
  color: black;
}

/* Icon in the right corner */
.navbar .navbar-header .navbar-brand {
  color: black;
  font-size: 40px;
  font-style: italic;
}

/* Page names */
.navbar .navbar-nav>li>a {
  color: black;
  font-size: 13px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}

/* make responsive height with 75% of screen max?? -- maybe wrap in body with 75% and navbar 25% */
.home-display {
  position: relative;
  overflow: hidden;
}

.home-display-image {
  width: 100%;
  max-height: 623px;
  object-fit: cover;
}

.home-display-text {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 100%;
}

/* shop line styling */
.home-shop-text {
  color: black;
  font-size: 15px;
  text-align: center;
  padding-top: 30px;
}

/* footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 175px;
  background-color: #5F7078;

  color: white;
  padding-top: 40px;
  font-size: 20px;
  text-align: center;
}

.footer .author {
  padding-top: 2%;
  font-size: 15px;
}

.footer .middle {
  font-size: 25px;
}

.footer-2 {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #1279AD;

  padding-top: 12px;
  font-size: 25px;
  text-align: center;
}

.footer-3 {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 7px;
  background-color: #13AEFC;
}

.fa-facebook-f {
  color: white;
}

.fa-angle-right {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}


@media only screen and (min-width: 600px) {
  #home-display-title {
    font-size: 50px;
    color: white;
  
  }
  
  #home-display-subtitle {
    font-size: 30px;
    color: white;
  }
  
  #home-display-subtitle #link {
    color: #f5f5f5;
    /* text-decoration: underline solid #8db9ec; */
    border-bottom: 3px solid #5499C7;
  }

  #home-display-subtitle #link:hover {
    text-decoration: none;
    border-bottom: 4px solid #5499C7;
    text-shadow: 0.125px 0.125px white;
  }
}

@media only screen and (max-width: 600px) {
  #home-display-title {
    font-size: 30px;
    color: white;
  }
  
  #home-display-subtitle {
    font-size: 20px;
    color: white;
  }
  
  #home-display-subtitle #link {
    color: #f5f5f5;
    /* text-decoration: underline solid #8db9ec; */
    border-bottom: 3px solid #5499C7;
  }
  #home-display-subtitle #link:hover {
    text-decoration: none;
    border-bottom: 4px solid #5499C7;
    text-shadow: 0.125px 0.125px white;
  }
}

@media only screen and (min-width: 768px) {

.img-thumbnail {
  border: none;
  padding-top: 100px;
  padding-right: 20px;
}

.thumbnail {
  border: none;
  padding-top: 40%;
  text-align: left;
  padding-left: 10%;
  font-size: 45px;
}

.thumbnail-left {
  text-align: right;
  padding-right: 10%;
  padding-left: 0%;
}

.home-img-links {
  font-size: 25px;
  margin: 0px;
  color: black; 
}

/* CHANGE LINKS TO HAVE ANIMATION OF ARROW THAT EXPLAINS AND MAKES THE IMAGE ZOOM */
.home-img-links:hover {
  text-decoration: none;
  color: #2471A3;
  text-shadow: 0.125px 0.125px #2471A3;
}

.home-img-links:hover .fa-angle-right {
  padding-right: 15px;
  padding-left: 15px;
}

/* MAKE THE SECOND LINK NOT DO THE WEIRD THING */
.thumbnail-left .home-img-links:hover .fa-angle-right {
  padding-right: 0px;
  padding-left: 15px;
}

.img-wrapper {
	display: inline-block;
	overflow: hidden;
}

.img-wrapper img {
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}

.img-wrapper img:hover {
	transform:scale(1.125);
    -ms-transform:scale(1.125); /* IE 9 */
    -moz-transform:scale(1.125); /* Firefox */
    -webkit-transform:scale(1.125); /* Safari and Chrome */
    -o-transform:scale(1.125); /* Opera */
}
}

@media only screen and (max-width: 768px) {

  .img-1 {
    padding-top: 7%;
  }

  .img-thumbnail {
    border: none;
    padding-top: 0px;
  }
  
  .thumbnail {
    border: none;
    padding-top: 3%;
    text-align: left;
    font-size: 40px;
  }
  
  .home-img-links {
    font-size: 20px;
    color: black;
  }
  
  /* CHANGE LINKS TO HAVE ANIMATION OF ARROW THAT EXPLAINS AND MAKES THE IMAGE ZOOM */
  .home-img-links:hover {
    text-decoration: none;
    color: #2471A3;
    text-shadow: 0.125px 0.125px #2471A3;
  }

  /* MAKE THE SECOND LINK NOT DO THE WEIRD THING */
  .home-img-links:hover .fa-angle-right {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .img-wrapper {
    display: inline-block;
    overflow: hidden;
  }
  
  .img-wrapper img {
    -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      vertical-align: middle;
  }
  
  .img-wrapper img:hover {
    transform:scale(1.125);
      -ms-transform:scale(1.125); /* IE 9 */
      -moz-transform:scale(1.125); /* Firefox */
      -webkit-transform:scale(1.125); /* Safari and Chrome */
      -o-transform:scale(1.125); /* Opera */
  }
  }

  @media only screen and (max-width: 600px) {

  .img-1 {
    padding-top: 7%;
  }

  .img-thumbnail {
    border: none;
    padding-top: 0px;
  }
  
  .thumbnail {
    border: none;
    padding-top: 3%;
    text-align: left;
    font-size: 30px;
  }
  
  .home-img-links {
    font-size: 20px;
    margin: 0px;
    color: black;
    padding-bottom: 10px;
  }
  
  /* CHANGE LINKS TO HAVE ANIMATION OF ARROW THAT EXPLAINS AND MAKES THE IMAGE ZOOM */
  .home-img-links:hover {
    text-decoration: none;
    color: #2471A3;
    text-shadow: 0.125px 0.125px #2471A3;
  }

  /* MAKE THE SECOND LINK NOT DO THE WEIRD THING */
  .home-img-links:hover .fa-angle-right {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .img-wrapper {
    display: inline-block;
    overflow: hidden;
  }
  
  .img-wrapper img {
    -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      vertical-align: middle;
  }
  
  .img-wrapper img:hover {
    transform:scale(1.125);
      -ms-transform:scale(1.125); /* IE 9 */
      -moz-transform:scale(1.125); /* Firefox */
      -webkit-transform:scale(1.125); /* Safari and Chrome */
      -o-transform:scale(1.125); /* Opera */
  }

  }
/* MAKE RESPONSIVE */
/* Broad styling */

/* REMOVE DUPLICATE CODE FOR THE DIFFERENT SCREENS */

